.searchForm{
  text-align: center;
}
.search-card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: .25rem;
}
.search-card button{
  background-color:rgba(0, 128, 0, 0.568);
  font-weight: bold;
  border-radius:5px;
  padding: 3px .25rem;
  border: none;
  margin-left: .25rem;
}
.list-box{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.list-box>h2{
  flex: 0 0 50%;
  margin: 1rem 25%;
  text-align: center;
}
.card {
  flex: 0 0 300px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  max-width: 300px;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.task{
  flex:0 0 100%;
  padding:1rem;
  text-align: center;
}
.card>button{
  flex: 0 0 25%;
  margin:.25rem .5rem;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
